
.main-container{
	min-height: 600px;
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 5px;
}
.thick-border{
	border: 2em solid rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	padding: 5px;
}

.thin-border{
	border: 2px solid rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
}

.thick-border-lines{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	padding: 5px;
}

.thick-line{
	position: absolute;
	background-color: #4C4C4C
}

.thick-line.top-line{
	top: 5px;
	right: 5px;
	height: 2em;
	width: calc(100% - 10px);
}

.thick-line.right-line{
	top: 5px;
	right: 5px;
	width: 2em;
	height: calc(100% - 10px);
}

.thick-line.bottom-line{
	bottom: 5px;
	left: 5px;
	height: 2em;
	width: calc(100% - 10px);
}

.thick-line.left-line{
	bottom: 5px;
	left: 5px;
	width: 2em;
	height: calc(100% - 10px);
}


/***************************************** */
.thin-line{
	position: absolute;
	background-color: black;
}

.thin-line.top-line{
	top: calc(2em + 10px);
	right: calc(2em + 10px);
	height: 2px;
	/*width: calc(100% - 5em - 6px);*/
	width: 0;
	-webkit-animation: thin_top_draw 2s;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}

.thin-line.right-line{
	top: calc(2em + 10px);
	left: calc(2em + 10px);
	width: 2px;
	/*height: calc(100% - 5em - 6px);*/
	height: 0;
	-webkit-animation: thin_side_draw 2s;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}

.thin-line.bottom-line{
	bottom: calc(2em + 10px);
	left: calc(2em + 10px);
	height: 2px;
	/*width: calc(100% - 5em - 6px);*/
	width: 0;
	-webkit-animation: thin_top_draw 2s;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}

.thin-line.left-line{
	bottom: calc(2em + 10px);
	right: calc(2em + 10px);
	width: 2px;
	/*height: calc(100% - 5em - 6px);*/
	height: 0;
	-webkit-animation: thin_side_draw 2s;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}

.name-header{
	position: relative;
	top: 31%;
	/*top: 11em;*/
	left: 23px;
	width: 100%;
}

.name-header h1{
	font-size: 13.3em;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: .2em;
	font-color: #4C4C4C;
	/*letter-spacing: -.1em;*/
	font-family: 'Yanone Kaffeesatz';
	/*font-family: 'Dosis';*/
	/*font-family: 'Exo';*/
}

.colored_box{
	position: absolute;
	/*top: 24em;*/
	top: 48%;
	height: 60px;
	background-color: #6fd899;
	width: 80%;
	right: 40px;
}

.grey_box{
	position: absolute;
	/*top: 25.7em;*/
	top: 50%;
	height: 60px;
	background-color: #4C4C4C;
	width: 70%;
	right: 40px;
}

.name-svg .name-text{
	font-size: 13.3em;
	font-weight: 100;
	fill: rgba(0,0,0, 0);
	stroke: black;
	font-family: "Yanone Kaffeesatz";
	stroke-width: .4;
	letter-spacing: .35em;
	stroke-dashoffset: 450;
	stroke-dasharray: 450;

-webkit-animation: draw 3s;
  -webkit-animation-delay: 1s;
 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}



canvas{
	width: 0px!important;
	height: 0px!important;

-webkit-animation: can-fade 3s;
  -webkit-animation-delay: 1s;
 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}

@-webkit-keyframes can-fade{
	100%{
		width: 100%;
		height: 100%;
	}
}

@-webkit-keyframes draw {
  95%{
    stroke-dashoffset: 0;
    fill:rgba(0, 0, 0, 0);
  }
  100%{
  	fill: rgba(0, 0, 0, 1);
  }
}

@-webkit-keyframes thin_top_draw{
  100%{
    width: calc(100% - 5em - 6px);
  } 
}

@-webkit-keyframes thin_side_draw{
  100%{
    height: calc(100% - 5em - 6px);
  } 
}

