body{
  font-family: 'Open Sans', sans-serif;
}



/*.name{
  margin-right
}*/

.name h1{
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -6px;
  font-size: 80px;
  color: #6fd899;
}


.container-box{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.container-border{
  border: 3px solid #6fd899;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.container-